@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-weight: 600;
    font-weight: 700;
    font-style: normal;
  }

  :root{
    --akcent-color: #F95707;
    --doble-color: #105720;
    --default-color: #1F1F1F;
    --link-colot: #4C4C4C;
    --white-color: #FFFFFF;
  }


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
a{
    text-decoration: none;
}
button{
    background: none;
    outline: none;
    border: none;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    max-width: 1316px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

